body{
    min-height: 1700px;
}
svg:hover{
    color:rgb(29, 102, 29)
}
/* start header area */

/* start nav area */

.nav-link{
    font-size: 24px;
    padding: 0 15px !important;
    
}

/* end nav area */

/* end header area */

/* start section-one */

.sec-one{
    position: relative;
    top:100px;
}
.card{
    position: relative;
}
.cart{
    width: 80%;
    position: absolute;
    bottom: 100px;
    left: 10%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s linear;
}
.card:hover .cart{
    visibility: visible;
    opacity: 1;
}
.cart svg{
    width: 100%;
    color: #ff0000;
    font-size: 32px;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
}
.cart svg:hover{
    background: #ff0000;
    color: #f8f9fa;
}
.cart-heart{
    position: relative;
}
.cart-heart .content{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    position: absolute;
    top: 35px;
    left: -80%;
}

/* end section-one */
